REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}

MINIO_ENDPOINT={{ minio_endpoint }}
MINIO_BUCKET={{ minio_bucket }}
MINIO_ACCESS_KEY={{ MINIO_ACCESS_KEY }}
MINIO_SECRET_KEY={{ MINIO_SECRET_KEY }}
